body {
  background-color: #f2f2f2 !important;
  min-height: 100vh;
}

/* banner */
.banner-box {
  padding-top: 9.5px;
  background-color: white;
  min-height: 100px;
}
.banner-logo {
  background-image: url(../images/logo-bold.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  min-height: 60px;
}
@media screen and (max-width: 768px) {
  .banner-logo {
    background-size: auto 100%;
    background-position: 20px center;
  }
}
@media screen and (min-width: 1650px) {
  .banner-logo {
    background-size: auto 100%;
    background-position: center center;
  }
}
.banner-menu-box {
  background-color: #1a2225;
}
/* banner end */

/* content */
.content-text {
  font-size: 12px;
}
.new-seller-inputs {
  background-color: #fffefe;
  color: gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.new-seller-warning {
  background-color: #ffe9e7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.new-seller-warning-text {
  width: calc(100% - 50px);
  font-size: 12px;
}
/* content end */
