body {
  background-color: #f2f2f2 !important;
  min-height: 100vh;
}

/* banner */
.banner-box {
  padding-top: 9.5px;
  background-color: white;
  min-height: 100px;
}
.banner-logo {
  background-image: url(../images/logo-bold.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  min-height: 60px;
  max-height: 100px;
}
@media screen and (max-width: 768px) {
  .banner-logo {
    background-size: auto 100%;
    background-position: 20px center;
  }
}
@media screen and (min-width: 1650px) {
  .banner-logo {
    background-size: auto 100%;
    background-position: center center;
  }
}
.banner-menu-box {
  background-color: #1a2225;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-weight: 700;
  font-size: 8px;
}
@media screen and (max-width: 1385px) and (min-width: 1200px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 7px;
    font-weight: 300;
  }
}
@media screen and (min-width: 1500px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 10px;
    font-weight: 300;
  }
}
.navbar-toogler {
  outline: none !important;
}
.navbar-dark .navbar-toggler:hover {
  color: #e0e0e0 !important;
  background-color: #292929;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e0e0e0 !important;
}
.profile-text {
  font-weight: 500;
  font-size: 11px;
}
#profile::after {
  position: absolute;
  margin-top: 11px;
}
.banner-icon:hover {
  text-decoration: none;
  color: #e0e0e0;
}
/* banner end */
/*  layout  */
@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.otf");
}

* {
  font-family: poppins !important;
}
.fas,
.far,
.fa {
  font-family: "Font Awesome 5 Free" !important;
}
/*  banner  */
.banner {
  background-color: #1a2225;
  height: 100px;
}
.banner-logo {
  max-height: 100%;
  max-width: 35%;
  padding-top: 1rem;
}
@media screen and (max-width: 520px) {
  .banner-logo {
    max-width: 50%;
  }
}
@media screen and (max-width: 390px) {
  .banner-logo {
    padding-top: 30px;
  }
}
.banner-logos {
  width: 64px;
  height: 64px;
}
.banner-logo1 {
  background-image: url(../images/audi.png);
  animation: imgAnimation 15s infinite alternate;
  -webkit-animation: imgAnimation 15s infinite alternate;
  transition-duration: 0s;
}
.banner-logo-box {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@keyframes imgAnimation {
  0% {
    background-image: url(../images/bmw.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-moz-keyframes imgAnimation {
  0% {
    background-image: url(../images/bmw.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimation {
  0% {
    background-image: url(../images/bmw.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimation {
  0% {
    background-image: url(../images/bmw.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
.banner-logo-img {
  max-width: 45px;
  height: 70px;
}

.banner-logo2 {
  background-image: url(../images/audi.png);
  animation: imgAnimationtwo 15s infinite alternate;
  -webkit-animation: imgAnimationtwo 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/mercedes.png);
  }
  14% {
    background-image: url(../images/peugeot.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/bmw.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/audi.png);
  }
  100% {
    background-image: url(../images/rover.png);
  }
}
@-moz-keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo3 {
  background-image: url(../images/audi.png);
  animation: imgAnimationthree 15s infinite alternate;
  -webkit-animation: imgAnimationthree 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationthree {
  0% {
    background-image: url(../images/hyundai.png);
  }
  14% {
    background-image: url(../images/audi.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/peugeot.png);
  }
  67% {
    background-image: url(../images/rover.png);
  }
  84% {
    background-image: url(../images/bmw.png);
  }
  100% {
    background-image: url(../images/mercedes.png);
  }
}
@-moz-keyframes imgAnimationthree {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationthree {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationthree {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo4 {
  background-image: url(../images/audi.png);
  animation: imgAnimationfour 15s infinite alternate;
  -webkit-animation: imgAnimationfour 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationfour {
  0% {
    background-image: url(../images/rover.png);
  }
  14% {
    background-image: url(../images/peugeot.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/mercedes.png);
  }
  67% {
    background-image: url(../images/audi.png);
  }
  84% {
    background-image: url(../images/bmw.png);
  }
  100% {
    background-image: url(../images/hyundai.png);
  }
}
@-moz-keyframes imgAnimationfour {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationfour {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationfour {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo5 {
  background-image: url(../images/audi.png);
  animation: imgAnimationfive 15s infinite alternate;
  -webkit-animation: imgAnimationfive 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationfive {
  0% {
    background-image: url(../images/peugeot.png);
  }
  14% {
    background-image: url(../images/audi.png);
  }
  28% {
    background-image: url(../images/bmw.png);
  }
  42% {
    background-image: url(../images/mercedes.png);
  }
  67% {
    background-image: url(../images/rover.png);
  }
  84% {
    background-image: url(../images/hyundai.png);
  }
  100% {
    background-image: url(../images/kia.png);
  }
}
@-moz-keyframes imgAnimationfive {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationfive {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationfive {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo6 {
  background-image: url(../images/audi.png);
  animation: imgAnimationsix 15s infinite alternate;
  -webkit-animation: imgAnimationsix 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationsix {
  0% {
    background-image: url(../images/bmw.png);
  }
  14% {
    background-image: url(../images/rover.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/audi.png);
  }
  67% {
    background-image: url(../images/mercedes.png);
  }
  84% {
    background-image: url(../images/peugeot.png);
  }
  100% {
    background-image: url(../images/hyundai.png);
  }
}
@-moz-keyframes imgAnimationsix {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationsix {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationsix {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo7 {
  background-image: url(../images/audi.png);
  animation: imgAnimationseven 15s infinite alternate;
  -webkit-animation: imgAnimationseven 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationseven {
  0% {
    background-image: url(../images/peugeot.png);
  }
  14% {
    background-image: url(../images/audi.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/hyundai.png);
  }
  67% {
    background-image: url(../images/bmw.png);
  }
  84% {
    background-image: url(../images/rover.png);
  }
  100% {
    background-image: url(../images/mercedes.png);
  }
}
@-moz-keyframes imgAnimationseven {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationseven {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationseven {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo2 {
  background-image: url(../images/audi.png);
  animation: imgAnimationtwo 15s infinite alternate;
  -webkit-animation: imgAnimationtwo 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/mercedes.png);
  }
  14% {
    background-image: url(../images/peugeot.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/bmw.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/audi.png);
  }
  100% {
    background-image: url(../images/rover.png);
  }
}
@-moz-keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationtwo {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo3 {
  background-image: url(../images/audi.png);
  animation: imgAnimationthree 15s infinite alternate;
  -webkit-animation: imgAnimationthree 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationthree {
  0% {
    background-image: url(../images/hyundai.png);
  }
  14% {
    background-image: url(../images/audi.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/peugeot.png);
  }
  67% {
    background-image: url(../images/rover.png);
  }
  84% {
    background-image: url(../images/bmw.png);
  }
  100% {
    background-image: url(../images/mercedes.png);
  }
}
@-moz-keyframes imgAnimationthree {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationthree {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationthree {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo4 {
  background-image: url(../images/audi.png);
  animation: imgAnimationfour 15s infinite alternate;
  -webkit-animation: imgAnimationfour 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationfour {
  0% {
    background-image: url(../images/rover.png);
  }
  14% {
    background-image: url(../images/peugeot.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/mercedes.png);
  }
  67% {
    background-image: url(../images/audi.png);
  }
  84% {
    background-image: url(../images/bmw.png);
  }
  100% {
    background-image: url(../images/hyundai.png);
  }
}
@-moz-keyframes imgAnimationfour {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationfour {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationfour {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo5 {
  background-image: url(../images/audi.png);
  animation: imgAnimationfive 15s infinite alternate;
  -webkit-animation: imgAnimationfive 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationfive {
  0% {
    background-image: url(../images/peugeot.png);
  }
  14% {
    background-image: url(../images/audi.png);
  }
  28% {
    background-image: url(../images/bmw.png);
  }
  42% {
    background-image: url(../images/mercedes.png);
  }
  67% {
    background-image: url(../images/rover.png);
  }
  84% {
    background-image: url(../images/hyundai.png);
  }
  100% {
    background-image: url(../images/kia.png);
  }
}
@-moz-keyframes imgAnimationfive {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationfive {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationfive {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo6 {
  background-image: url(../images/audi.png);
  animation: imgAnimationsix 15s infinite alternate;
  -webkit-animation: imgAnimationsix 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationsix {
  0% {
    background-image: url(../images/bmw.png);
  }
  14% {
    background-image: url(../images/rover.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/audi.png);
  }
  67% {
    background-image: url(../images/mercedes.png);
  }
  84% {
    background-image: url(../images/peugeot.png);
  }
  100% {
    background-image: url(../images/hyundai.png);
  }
}
@-moz-keyframes imgAnimationsix {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationsix {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationsix {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.banner-logo7 {
  background-image: url(../images/audi.png);
  animation: imgAnimationseven 15s infinite alternate;
  -webkit-animation: imgAnimationseven 15s infinite alternate;
  transition-duration: 0s;
}

@keyframes imgAnimationseven {
  0% {
    background-image: url(../images/peugeot.png);
  }
  14% {
    background-image: url(../images/audi.png);
  }
  28% {
    background-image: url(../images/kia.png);
  }
  42% {
    background-image: url(../images/hyundai.png);
  }
  67% {
    background-image: url(../images/bmw.png);
  }
  84% {
    background-image: url(../images/rover.png);
  }
  100% {
    background-image: url(../images/mercedes.png);
  }
}
@-moz-keyframes imgAnimationseven {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-webkit-keyframes imgAnimationseven {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}
@-o-keyframes imgAnimationseven {
  0% {
    background-image: url(../images/audi.png);
  }
  14% {
    background-image: url(../images/bmw.png);
  }
  28% {
    background-image: url(../images/mercedes.png);
  }
  42% {
    background-image: url(../images/rover.png);
  }
  67% {
    background-image: url(../images/hyundai.png);
  }
  84% {
    background-image: url(../images/kia.png);
  }
  100% {
    background-image: url(../images/peugeot.png);
  }
}

.icons {
  font-size: 23px;
  margin-top: 37px;
  color: white;
  cursor: pointer;
  font-weight: 600 !important;
}
.icons-link {
  width: 22px;
  margin-top: 37px;
  height: 24px;
}
.marquee-logos {
  width: calc(70% - 270px);
}
.basket-count {
  height: 14px;
  font-size: 9px !important;
  margin-top: 30px;
  margin-left: -30px;
  position: absolute;
}
.search-close {
  left: calc(100vw - 85px);
  font-size: 20px;
  top: 28px;
  /* color: black; */
  position: relative;
  /* margin-bottom: -65px; */
  margin-top: -52px;
}
@media screen and (max-width: 768px) {
  .search-close {
    left: calc(100vw - 28px) !important;
  }
  .banner-logo-img {
    height: 55px;
  }
}
@media screen and (max-width: 450px) {
  .banner-logo-img {
    height: 45px;
  }
}
.search-input {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px;
  margin-top: -15px;
  background-color: #f8f6f6;
}

/* primary keys */
.keys {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.keys:hover {
  background-color: rgb(211, 211, 211);
}
/* primary keys end */

/* footer */
.footer-bg {
  background-color: #1b1b1c;
}
.footer-text {
  font-size: small;
  text-align: left !important;
}
.footer-bottom {
  background-color: #000000;
}
/* footer end */

/*  modal  */
.modal-correct {
  font-size: 60px;
}

.basket-title {
  max-width: 80%;
  font-size: 14px;
}
.basket-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.basket-product-count {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.basket-price-box {
  max-width: 25%;
}
.basket-first-price {
  text-decoration: line-through;
}
.basket-modal {
  position: absolute !important;
  top: 55px !important;
  right: 120px !important;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.btn-outline-warning:hover {
  color: white !important;
}
.basket-modal-icon::after {
  content: "\25B2";
  color: white;
  position: absolute;
  right: 160px;
  top: 66px;
}
@media screen and (max-width: 575px) {
  .basket-modal {
    top: 73px !important;
    right: 20px !important;
  }
  .basket-modal-icon::after {
    right: 120px;
  }
}
.cursor-pointer {
  cursor: pointer;
}
/*  layout end  */
.galery {
  max-width: 500px;
}
.galery-img {
  width: 100px;
  height: 100px;
}
.galery-text {
  font-size: 15px;
}
.institution-box {
  border: #feb737 8px solid;
  font-size: medium;
}
.institution-box-header {
  background-color: #feb737;
}
.institution-logo {
  width: 50px;
  height: 50px;
}
.institution-title {
  margin-left: 60px;
  width: calc(100% - 48px);
}
.institution-text {
  color: #feb737;
  font-size: 11px;
  cursor: pointer;
  white-space: nowrap;
}
.add-basket-text {
  font-size: xx-large !important;
  font-weight: bold !important;
}
.basket-btn {
  margin-top: -11px;
  margin-left: -3px;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
@media screen and (max-width: 504px) {
  .basket-btn {
    width: 220px;
    margin-top: 0;
    margin-left: 0;
  }
}
.active {
  display: block !important;
  background-color: #feb737 !important;
}
.tab-pane {
  display: none;
}
.nav-link {
  width: 100%;
  background-color: #1b1b1c;
  color: white;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.tab-page {
  background-color: #f6f6f6 !important;
}
.comment-img {
  width: 60px;
  height: 60px;
}
.comment-text {
  width: calc(100% - 80px);
  margin-left: 18px;
}
.fa-star {
  color: #f7941d;
}
.comment-user {
  font-size: large;
}
.point-star {
  color: #a0a0a0;
}
.comment-input {
  width: 45%;
  resize: none;
}
a:hover {
  text-decoration: none !important;
}

.add-file-btn {
  height: 30px;
}
.live-support-icon {
  position: fixed;
  bottom: 10px;
  right: 30px;
  cursor: pointer;
}
.support-box {
  position: fixed;
  bottom: 0px;
  right: 30px;
  height: 450px;
  width: 300px;
  max-height: 70vh;
  z-index: 1000;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.support-title {
  background-color: #1a2225;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.support-message {
  font-size: 10px;
}
.support-input {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.support-input-icon1 {
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  cursor: pointer;
}
.support-input-icon2 {
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 270px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  cursor: pointer;
}

.btn-warn {
  background-color: #feb737 !important;
}
